body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dadada;
}
.box{
    width: 100vh;
    height: 95vh;
    border: 5px solid;
    background-color: aliceblue;
}
.box >img{
    width: 100%;
    height: 50%;
}
.in{
    width: 80%;
    height: 60px;
    /* margin: 30px; */
    margin-left: 8vh;
    /* border: 8px  solid; */
    font-size: 56px;
    font-weight: bolder;
    text-transform: capitalize;
    text-align: center;
    background-color: transparent;
    border: none;
    font-family: abc;
}
.in::placeholder{
    font-size: 40px;
}
.wt{
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    font-family: abc;
    position: relative;
    top: 8vh;
    margin-top: -1vh;
}
@font-face {
    font-family: abc;
    src: url(img/a.ttf);
}
.cs{
    font-size: 54px;
    font-weight: bold;
    text-align: center;
    font-family:abc;
    margin-top: -1vh;
}